
<div class="form-group">
    <label class="col-sm-2 control-label" for="{{id}}-status-ids" >Status</label>
    <div class="col-sm-10">
        <input type="hidden" class="form-control input-sm" id="{{id}}-status-ids" value="{{data.statusIds}}"/>
    </div>
</div>