<div class="container">
    <div class="row">
        <a href="#job/edit" class="btn btn-lg btn-material-green-A400 new-job-btn pull-right">New</a>
        <button class="btn btn-lg btn-material-green-A400 run-all-btn pull-right" disabled>Run Jobs!</button>
        <h1>My Jobs</h1>
    </div>
    <div class="row panel-container">
    
    </div>
</div>