<!--<div class="pull-right">-->
<!--    <a href="#" class="btn btn-sm btn-danger" id="{{id}}-delete"><i class="fa fa-trash-o"></i> Delete</a>-->
<!--</div>-->
<!--<a href="#" class="btn btn-success" id="{{id}}-run"><i class="fa fa-play"></i> Rerun</a>-->
<!--<a href="#" class="btn btn-warning" id="{{id}}-terminate"><i class="fa fa-stop"></i> Terminate!</a>-->
